<ion-header>
  <ion-toolbar>
    <ion-title>
      Personas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let persona of listDebtService.personas" detail>
        <ion-label>{{persona.nombre}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-fab vertical="center" horizontal="end" slot="fixed">
      <ion-fab-button (click)="agregarPersona()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
